@supports (display: flex) {
  body {
    background-color: #13131a;
    --faded-color: #889;
    --link-color: #9ac;
    --action-color: {{ colors.dark.action }};
    --secondary-color: {{ colors.dark.secondary }};
    color: #aab;
  }
}
