@supports (display: flex) {
  body {
    --main-bg-color: #121117;
    background-color: var(--main-bg-color);
    --faded-color: #889;
    --link-color: #9ac;
    --action-color: {{ colors.dark.action }};
    --secondary-color: {{ colors.dark.secondary }};
    color: #aab;
  }
}
