body.home {
  min-height: 200svh;
}

body.home header {
  display: flex;
  flex-direction: column;
  height: fit-content;
  min-height: 100svh;
  background: linear-gradient(124deg, #000 0%, #0e0e0e 100%);
}

header {
  user-select: none;
}

.intro-section {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(2, 1fr);
  flex-shrink: 0;
  flex-grow: 1;
  padding: var(--elem-spacing) 32px;
  max-width: 80rem;
  margin: 0 auto;
  position: relative;
  animation: zoom-in 1.8s;
  animation-timing-function: ease;
}

@keyframes zoom-in {
  0% { transform: translateY(10px); filter: opacity(0) }
  100% {}
}

@media (max-width: 1200px) {
  .intro-section {
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    max-width: 40rem;
  }
  .intro-section div {
    grid-area: 1 / 1;
  }
  .intro-section div:not(:has(video)) {
    z-index: 1;
  }
  .intro-section div:has(video) {
    filter: blur(12px);
  }
}

.intro-section div {
  display: grid;
  place-content: center;
}

.intro-section .content > * + * {
  margin-top: 1rem;
}
.intro-section .content {
  font-size: 1.125rem;
  color: #f4fbffde;
}

.intro-section .action {
  height: 3rem;
}

.intro-section .content h1 {
  font-size: 4.5rem;
  font-family: sans-serif;
  font-weight: 400;
  text-shadow: -1px -1px 0 #fff3, 1px 1px 0 #0002;
  -webkit-text-stroke: .4px #fff8;
}

@media (max-width: 600px) {
  .intro-section .content h1 {
    font-size: 3rem;
  }
}

.intro-section video {
  max-width: 100%;
  width: 550px;
  height: 550px;
  pointer-events: none;
  animation: fade-in 1.2s;
  animation-timing-function: ease;
}

@keyframes fade-in {
  10% { filter: opacity(0); transform: scale(0.7) }
  100% {  }
}

.intro-section h1:after {
  content: "";
  display: inline-block;
  position: relative;
  top: 0.24ch;
  height: 1em;
  width: 2px;
  margin: auto 0;
  margin-left: 2px;
  animation: blink 1.2s forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  background: #999;
  box-shadow: 0 0 2px #fff2;
}

.intro-section:after {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  display: block;
  position: absolute;
  bottom: 3rem;
  left: 0;
  right: 0;
  margin: auto;
  border: solid;
  border-color: #fff8;
  border-width: 0 1.5px 1.5px 0;
  border-radius: 0 0 2px 0;
  transform: rotate(45deg);
  animation: bob 5s ease-in-out infinite;
}

@keyframes bob {
  45% { translate: 0 0px; }
  50% { translate: 0 -2px; }
  55% { translate: 0 0px; }
}

@keyframes blink {
  from { opacity: 0 }
  45% { opacity: 0 }
  50% { opacity: 1 }
  95% { opacity: 1 }
  to { opacity: 0 }
}

body.home .navbar {
  animation: slide-down 0.8s;
  animation-timing-function: ease;
}

@keyframes slide-down {
  0% { transform: translateY(-4px); filter: opacity(0) }
  100% {}
}
