.intro-section {
  display: none;
}

@supports (display: grid) {

  body.home {
    min-height: 200svh;
  }

  body.home header {
    display: flex;
    flex-direction: column;
    height: fit-content;
    min-height: 100svh;
    background: #121212;
    background: radial-gradient(at left bottom, #080808 -10%, #141412);
    box-shadow: 0 0 80px #000, 0 -120px 120px -120px #74579d33 inset;
  }

  header {
    user-select: none;
  }

  .intro-section {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(2, 1fr);
    flex-shrink: 0;
    flex-grow: 1;
    padding: var(--elem-spacing) 4rem;
    max-width: 80rem;
    margin: 0 auto;
    position: relative;
    animation: zoom-in 1.8s;
    animation-timing-function: ease;
    overflow: hidden;
  }

  @keyframes zoom-in {
    0% { transform: translateY(10px); filter: opacity(0) }
    100% {}
  }

  @supports (filter: blur()) {

    .intro-section::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      max-width: 800px;
      aspect-ratio: 1;
      translate: 0 15%;
      rotate: 45deg;
      background: linear-gradient(-45deg, #67a8, transparent 50%);
      filter: blur(80px);
    }

  }

  .intro-section div {
    display: grid;
    place-content: center;
  }

  .intro-section .content > * + * {
    margin-top: 1rem;
  }
  .intro-section .content {
    font-size: 1.125rem;
    color: #f4fbffde;
    z-index: 1;
    text-wrap-style: pretty;
  }

  @media (max-width: 1200px) {
    .intro-section {
      grid-template-columns: 100%;
      grid-template-rows: 100%;
      max-width: 40rem;
      padding: var(--elem-spacing) 24px;
    }
    .intro-section div {
      grid-area: 1 / 1;
    }
    .intro-section div:not(:has(video)) {
      z-index: 1;
    }
    .intro-section div:has(video) {
      filter: blur(6px) brightness(0.9);
    }
    .intro-section .content {
      text-align: center;
    }
    .intro-section .action {
      margin: 0 auto;
    }
  }

  .intro-section .action {
    height: 3rem;
    transition: box-shadow 0.4s;
  }

  .intro-section .action:hover {
    box-shadow: 0 0 16px 4px #346;
  }

  .intro-section .content h1 {
    font-size: 4.5rem;
    font-family: sans-serif;
    font-weight: 400;
    text-shadow: -1px -1px 0 #fff3, 1px 1px 0 #0002;
    -webkit-text-stroke: .4px #fff8;
    margin-top: 0;
  }

  @media (max-width: 600px) {
    .intro-section .content h1 {
      font-size: 3rem;
    }
  }

  .intro-section video {
    max-width: 100%;
    width: 550px;
    height: 550px;
    pointer-events: none;
    animation: fade-in 1.2s;
    animation-timing-function: ease;
    border-radius: 100%;
    background-color: #121212;
    mask: radial-gradient(#000 50%, #0000 70%);
    transform: scale(1.1);
  }

  @keyframes fade-in {
    10% { filter: opacity(0); transform: scale(0.7) }
    100% {  }
  }

  .intro-section h1:after {
    content: "";
    display: inline-block;
    position: relative;
    top: 0.24ch;
    height: 1em;
    width: 2px;
    margin: auto 0;
    margin-left: 2px;
    animation: blink 1.2s forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background: #999;
    box-shadow: 0 0 2px #fff2;
  }

  @keyframes blink {
    from { opacity: 0 }
    45% { opacity: 0 }
    50% { opacity: 1 }
    95% { opacity: 1 }
    to { opacity: 0 }
  }

  body.home .navbar {
    animation: slide-down 0.8s;
    animation-timing-function: ease;
  }

  @keyframes slide-down {
    0% { transform: translateY(-4px); filter: opacity(0) }
    100% {}
  }

}
