<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if description %}<meta name="description" content="{{ description }}" />{% endif %}
    <link rel="stylesheet" href="/assets/main.{{ gitRev }}.css" />
    <link rel="icon" href="{{ site.favicon }}" sizes="any">
    <link rel="manifest" href="/manifest.json" />
    <meta name="theme-color" content="{{ colors.primary }}" />
    <title>{% if title %}{{ title }} - {% endif %}{{ site.title }}</title>
  </head>
  <body{% if bodyClass %} class="{{ bodyClass }}"{% endif %}>
    <header>
      {% include "components/navbar.njk" %}
      {% block intro %}
      {% endblock %}
    </header>
    <a id="main"></a>
    <main>
      {{ content | safe }}
    </main>
    <footer>
      {% include "components/copyright.njk" %}
      {% include "components/git-rev.njk" %}
    </footer>
  </body>
</html>
