<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{% if title %}{{ title }} - {% endif %}{{ site.title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if description %}<meta name="description" content="{{ description }}" />{% endif %}
    <link rel="manifest" href="/manifest.json" />
    <meta name="theme-color" content="{{ colors.primary }}" />

    <link rel="preload" href="/assets/main.css" as="style" />
    <link rel="preload" href="{{ site.logo }}" as="image" />

    <link rel="stylesheet" href="/assets/main.css" />
    <link rel="icon" href="{{ site.favicon }}" sizes="any">

    <!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "3f72ec6bc4dc4023abde0a695f651e50"}' integrity='sha384-hJDP7NI6FO4138GY4jrpuIrG8Efal6X0upzc6/p/SGWC2GA1v3ktQ/8krA0yHfkl' crossorigin='anonymous'></script><!-- End Cloudflare Web Analytics -->
  </head>
  <body>
    <header>
      {% include "components/navbar.njk" %}
    </header>
    <main>
      {{ content | safe }}
    </main>
    <footer>
      {% include "components/copyright.njk" %}
    </footer>
  </body>
</html>
