<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{% if title %}{{ title }} - {% endif %}{{ site.title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if description %}<meta name="description" content="{{ description }}" />{% endif %}
    <link rel="manifest" href="/manifest.json" />
    <meta name="theme-color" content="{{ colors.primary }}" />

    <link rel="preload" href="/assets/main.css" as="style" />
    <link rel="preload" href="{{ site.logo }}" as="image" />

    <link rel="stylesheet" href="/assets/main.css" />
    <link rel="icon" href="{{ site.favicon }}" sizes="any">
  </head>
  <body{% if bodyClass %} class="{{ bodyClass }}"{% endif %}>
    <header>
      {% include "components/navbar.njk" %}
      {% block intro %}
      {% endblock %}
    </header>
    <a id="main"></a>
    <main>
      {{ content | safe }}
    </main>
    <footer>
      {% include "components/copyright.njk" %}
    </footer>
    <!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "dc325c458b37493a935be5690d07ab9c"}'></script><!-- End Cloudflare Web Analytics -->
  </body>
</html>
