<div class="form-container">
  <form action="/api/v1/contact" method="POST" enctype="application/x-www-form-urlencoded">
    <p>
      <label for="name">Name</label>
      <input name="name" type="text" required />
    </p>
    <p>
      <label for="email">Email</label>
      <input name="email" type="email" required />
    </p>
    <p>
      <label for="message">Message</label>
      <textarea name="message" rows="10" required></textarea>
    </p>
    <p>
      <button class="action">Submit</button>
    </p>
  </form>
</div>
