<div class="form-container">
  <form action="submit" method="POST" enctype="multipart/form-data">
    <p>
      <label for="name">Name</label>
      <input name="name" type="text" required />
    </p>
    <p>
      <label for="email">Email</label>
      <input name="email" type="email" required />
    </p>
    <p>
      <label for="subject">Subject</label>
      <input name="subject" type="text" required />
    </p>
    <p>
      <label for="message">Message</label>
      <textarea name="message" rows="10" required></textarea>
    </p>
    <p>
      <button class="action">Send</button>
    </p>
  </form>
</div>
