{% if posts | length > 0 %}
<ul class="grid posts">
  {% for post in posts %}
  <li>
    <a href="{{post.url}}">
      <div class="image">
        {%- if post.data.featuredImage %}
        <img src="{{post.data.featuredImage}}" alt="" />
        {% endif -%}
      </div>
      <div class="text">
        <p><strong>{{post.data.title}}</strong></p>
        <p><small class="date">{{post.date | postDate}}</small></p>
      </div>
    </a>
  </li>
  {% endfor %}
</ul>
<div class="links">
  <p>
    {% include "components/pagination.njk" %}
  </p>
  <p>
    <a href="/tags">Topics</a>
    -
    <a href="/all-posts">View All</a>
  </p>
</div>
{% else %}
<h1>Nothing Here Yet...</h1>
<p>Looks like nothing was found. Please check back later.</p>
{% endif %}
