---
layout: wrapper.njk
title: All Posts
---

<ul class="grid">
  {%- for post in collections.posts %}
  <li>
    <a href="{{post.url}}">
      <p>{{post.data.title}}</p>
      <small>{{post.date | postDate}}</small>
    </a>
  </li>
  {%- endfor %}
</ul>
