---
layout: wrapper.njk
title: Blog
pagination:
  data: collections.posts
  size: 10
  alias: posts
permalink: 'blog{% if pagination.pageNumber > 0 %}/page/{{ pagination.pageNumber }}{% endif %}/index.html'
---

{% include "post-list.njk" %}

<div class="links">
  <p>
  {% if pagination.href.previous %}
  <a href=" {{ pagination.href.previous }}">Previous</a>
  {% else %}
  Previous
  {% endif %} 
  - 
  {% if pagination.href.next %}
  <a href=" {{ pagination.href.next }}">Next</a>
  {% else %}
  Next
  {% endif %}
  </p>
  <p>
    <a href="/tags">Topics</a>
    -
    <a href="/all-posts">View All</a>
  </p>
</div>
