---
layout: wrapper.njk
permalink: /tags/
title: Topics
---

<ul class="grid">
{% for tag in collections.all | getAllTags | filterTagList %}
	{% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	<li class="tag">
    <a href="{{ tagUrl }}">{{ tag }}</a>
  </li>
{% endfor %}
</ul>
