---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - post
permalink: /tags/{{ tag }}/
eleventyComputed:
  title: Tagged "{{ tag }}"
---

{% set posts = collections[ tag ] %}

<ul class="grid">
  {% for post in posts %}
  <li>
    <a href="{{post.url}}">
      <p class="tag">{{post.data.title}}</p>
      <small>{{post.date | postDate}}</small>
    </a>
  </li>
  {% endfor %}
</ul>
