---
layout: wrapper.njk
permalink: /tags/
title: Tags
---

<ul class="grid">
{% for tag in collections.all | getAllTags | filterTagList %}
	{% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	<li>
    <a href="{{ tagUrl }}">
      <p class="tag">{{ tag }}</p>
    </a>
  </li>
{% endfor %}
</ul>
