{%- extends "wrapper.njk" -%}

{% set postDate = page.date | postDate %}

{%- block content %}
<div class="title">
  <h1>{% if title %}{{ title }}{% endif %}</h1>
  {% if postDate %}<small>Posted {{ postDate }}</small>{% endif %}
</div>
<article>
  {{ content | safe }}
</article>

{%- set dtags = tags | filterTagList %}
{%- if dtags | length %}
  <div class="links">
  {%- for tag in dtags %}
    <span class="tag"><a href="/tags/{{ tag | slugify }}">{{ tag }}</a></span>
  {%- endfor %}
  </div>
{%- endif %}
{%- endblock %}
