<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{ site.description }}" />
    <link rel="stylesheet" href="/main.css" />
    <link rel="manifest" href="/manifest.json" />
    <meta name="theme-color" content="{{ colors.primary }}" />
    <link rel="preload" href="/fonts/Roboto-Regular.ttf" as="font" crossorigin>
    <title>{% if title %}{{ title }} - {% endif %}{{ site.title }}</title>
  </head>
  <body{% if bodyClass %} class="{{ bodyClass }}"{% endif %}>
      {% block header %}
        <header>
          <div class="logo">
            <img src="/images/logo-transparent.svg" alt="{{ site.title }}" eleventy:formats="svg" loading="" />
          </div>
        </header>
      {% endblock %}
      <main>
        {% block content %}
          {{ content | safe }}
        {% endblock %}
      </main>
      <footer>
        <p>© {{ site.copyright }} {{ page.date.getUTCFullYear() }}</p>
      </footer>
  </body>
</html>
