--- 
bodyClass: home
---
{% extends "wrapper.njk" %}

{% block intro %}
<div class="intro-section">
  <div>
    <div class="content">
      <h1>{{ site.tagline }}</h1>
      <p>{{ site.description }}</p>
      <p class="actions">
        <a class="action" href="#main">{{ actionText }}</a>
      </p>
    </div>
  </div>
  <div>
    <video autoplay muted loop>
      <source src="/assets/cube.mkv" type="video/webm">
    </video>
  </div>
</div>
{% endblock %}
