* {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  --layout-spacing: clamp(1rem, 6vw, 6rem);
  --elem-spacing: 2em;
  --side-spacing: clamp(1rem, 5vw, 3rem);
  --navbar-height: 50px;
  --content-max-width: 95ch;
  background: var(--main-bg-color);
  padding: 0;
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  width: 100vw;
}

body > *:not(a, header) {
  margin: 0 auto;
  width: 100%;
  max-width: var(--content-max-width);
  padding: 0 var(--side-spacing);
  padding-top: var(--layout-spacing);
  background: var(--main-bg-color);
}
