.navbar {
  width: 100vw;
  height: 2.8rem;
  background: var(--navbar-bg);
  display: flex;
  align-items: center;
}

.navbar .logo {
  display: inline-block;
  margin-left: 10px;
}

.navbar nav {
  display: inline-block;
  margin-left: auto;
  margin-right: 10px;
}

.navbar nav ul {
  list-style: none;
  padding: 0;
}

.navbar nav li {
  display: inline;
  font-size: 11pt;
  margin-left: 10px;
}

.navbar a {
  color: white;
  text-decoration: none;
}
