---
title: Blog
pagination:
  data: collections.posts
  size: 10
  alias: posts
permalink: 'blog{% if pagination.pageNumber > 0 %}/page/{{ pagination.pageNumber }}{% endif %}/index.html'
---

{% include "components/post-grid.njk" %}

<div class="links">
  <p>
    {% include "components/pagination.njk" %}
  </p>
  <p>
    <a href="/tags">Topics</a>
    -
    <a href="/all-posts">View All</a>
  </p>
</div>
