---
title: Blog
pagination:
  data: collections.posts
  size: 6
  alias: posts
  generatePageOnEmptyData: true
permalink: 'blog{% if pagination.pageNumber > 0 %}/page/{{ pagination.pageNumber }}{% endif %}/index.html'
---

{% include "components/post-grid.njk" %}
