---
layout:
eleventyExcludeFromCollections: true
eleventyComputed:
  permalink: "/manifest.json"
---
{
  "name": "{{ site.title }} - {{ site.tagline }}",
  "short_name": "{{ site.title }}",
  "start_url": "/",
  "display": "standalone",
  "background_color": "{{ colors.theme }}",
  "theme_color": "{{ colors.theme }}",
  "orientation": "portrait-primary",
  "icons": [
    {
      "src": "/assets/logo.avif",
      "type": "image/avif",
      "sizes": "500x500",
      "purpose": "any maskable"
    },
    {
      "src": "/assets/logo.png",
      "type": "image/png",
      "sizes": "500x500",
      "purpose": "any maskable"
    }
  ]
}
