---
permalink: /tags/
title: Topics
---

{% for tag in collections.all | getAllTags | filterTagList %}
	{% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
  <p class="tag"><a href="{{ tagUrl }}">{{ tag }}</a></p>
{% endfor %}
