---
permalink: /tags/
title: Topics
---

{% for tag in collections.all | getAllTags | filterTagList %}
	{% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
  <span class="tag"><a href="{{ tagUrl }}">{{ tag }}</a></span>
{% endfor %}
