---
layout:
eleventyExcludeFromCollections: true
eleventyComputed:
  permalink: '/assets/main.{{ gitRev }}.css'
---

{%- set css %}
  {% include "css/layout.css" %}
  {% include "css/colors.css.njk" %}
  {% include "css/navbar.css" %}
  {% include "css/logo.css" %}
  {% include "css/footer.css" %}
  {% include "css/buttons.css" %}
  {% include "css/home.css" %}
  {% include "css/grid.css" %}
  {% include "css/print.css" %}
  {% include "css/form.css" %}
{% endset -%}

{{ css | cssmin | safe }}
